---
---

@import "minimal-mistakes";

.page__hero--overlay {
  opacity: 1 !important;
}

.page__hero-image {
  filter: none !important;
}

.author__avatar img {
  max-width: 220px;
  border-radius: 50%;
  box-shadow: 0 0 25px rgba(0, 255, 255, 0.4);
}

/* UNFADE TOP NAV BAR */
.masthead,
.masthead__inner-wrap {
  opacity: 1 !important;
}

.site-title,
.site-subtitle,
.masthead a {
  opacity: 1 !important;
}
